body {
  font-family: 'Droid Sans', sans-serif;
  color: white;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#canvas-holder {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#load-cover {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

#loader {
  background: black;
  cursor:default;
  color: white;
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 250px;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

#loader-text {
  display: inline-block;
  vertical-align: text-bottom;
  line-height: 50px;
}

#spinner {
  display: inline-block;
  height: 50px;
  width: 50px;
  position: relative;
  float: left;
}

#sat-hoverbox {
  background: black;
  cursor:default;
  color: white;
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  pointer-events: none;
}

#sat-infobox {
  background: black;
  cursor:default;
  color: white;
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  right: 0px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 225px;
  width: 200px;
  display: none;
}

#sat-info-title{
  text-align: center;
  margin-bottom: 5px;
  font-size: 18px;
}

.sat-info-row {
  text-align: center;
  margin-bottom: 5px;
}

.sat-info-key,.sat-info-value {
  display: inline-block;
}

.sat-info-key {
  font-size: 14px;
  color: #aaa;
}

#search-results {
  display: none;
  position: absolute;
  width: 300px;
  background: black;
  color: white;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 10;
  top: 30px;
}

.search-hilight {
  font-weight: bold;
  color: #aaf;
}

.search-result {
  padding: 5px;
  height: 28px;
  line-height: 28px;
}

.search-result:hover {
  color: #aaf;
  background: #222;
  cursor: pointer;
}

.search-result-intldes {
  font-size: 12px;
  display: inline-block;
  float: right;
  height: 28px;
}

#search {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  outline: none;
}

#search-holder {
  position: absolute;
  top: 2px;
  left: 5px;
}